asgiref==3.5.2
attrs==22.1.0
autobahn==22.7.1
Automat==20.2.0
backports.zoneinfo==0.2.1
certifi==2022.9.24
cffi==1.15.1
channels==3.0.5
charset-normalizer==2.1.1
constantly==15.1.0
crispy-bootstrap5==0.7
cryptography==38.0.1
daphne==3.0.2
Django==4.1.1
django-crispy-forms==1.14.0
django-embed-video==1.4.7
django-seed==0.3.1
Faker==15.0.0
hyperlink==21.0.0
idna==3.4
incremental==21.3.0
Pillow==9.2.0
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.1.0
python-dateutil==2.8.2
requests==2.28.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
toposort==1.7
Twisted==22.8.0
txaio==22.2.1
typing-extensions==4.3.0
urllib3==1.26.12
zope.interface==5.4.0
