{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/base.css' %}" type="text/css"
        <link rel="icon" href="{% static '/images/chainz_logo.png' %}">

        <title>{% block title %}Base{% endblock title %}</title>
    </head>
    <body>

        <h1> Room {{room_name}} </h1>
        <h1> {{user.username}} </h1>
        <h1 id = "first-message"> </h1>
        <textarea style="width:80%" id="user-input" col="50" row="100"></textarea>
        <button id = "submit-button">Send</button>
        <div id = "recieved-messages"></div>

        {{room_name|json_script:"room-name"}}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);

            const chatSocket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/chat/' +
                roomName +
                '/'
            );
            
            //Every time recieves message fires
            chatSocket.onmessage = (e)=> {
                const data =  JSON.parse(e.data)
                console.log(data)
                if (data.tester) {
                    document.getElementById("first-message").textContent = (data.tester)
                }
                if (data.message) {
                    const newMessage = document.createElement("p")
                    newMessage.textContent = data.message
                    document.getElementById("recieved-messages").append(newMessage)
                }
            }
            document.getElementById("submit-button").onclick = ()=> {
                //Get dom element text content and convert to json_script
                node = document.getElementById("user-input");
                text = node.value;
                chatSocket.send(JSON.stringify({
                    'message':text,
                }));
                node.value = "";
            }


        </script>
    </body>
</html>

