.order_details {
  margin-top: 1%;
  margin-left: 1%;
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 35px;
  /* border-bottom: 2px solid white; */
}

.items-container {
  margin-top: 1%;
  display: grid;
  grid-template-columns: 100%;
  border-top: 2px solid white;
  margin: auto;
  width: 100%;
}

.items-container div{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 5%;
  justify-content: space-around;
  align-items: center;
}

.item-image {
  width: 25%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  text-align: center;
}



.address-info {
  margin-top: 1%;
  display: grid;
  grid-template-columns: 100%;
  border-top: 2px solid white;
  width: 30%;
  /* border: 2px solid white; */
}

.address-info div{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25% 25% 25% 25%;
  border-bottom: 2px solid white;
  align-items: center;
}

.shipping-heading {
  width: 30%;
}



/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #455163 0%, #35445e 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
 

