{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}product.name{% endblock title %}
{% block content %}
    <body>
        <div class="product-holder">
            <div class="container_video">
                <video autoplay loop muted>
                    <!-- <source src="https://content.rolex.com/dam/watches/hubs/all-watches/videos/hub-collection-watches-cover-portrait.mp4" type="video/mp4" /> -->
                    <source src="{% static '/images/boat.mp4' %}" type="video/mp4" />
                </video>
            </div>

            <div class="product-descriptions">
                <h1>{{product.miniDescription}}</h1>
                <p>{{product.description}}</p>
            </div>

            <img src={{product.image.url}} alt={{product.image}} class="product-image"/>

            <div class="product-price">
                <p>$ {{product.price}}</p>
                <div class="product-buttons">
                    <button><a href="{% url 'update-product' product.id %}">update product</a></button>
                    <button><a href="{% url 'delete-product' product.id %}">delete</a></button>
                    <button>add to cart</button>
                </div>
            </div>
        </div>
        

        <div id = "message-container">
            <div id = "recieved-messages">
                <h1 id = "first-message"> </h1>
            </div>
            {% comment %} Toggle on hidden {% endcomment %}
            <div id = "open-chat">
                <textarea class="form-control" style="width:80%" id="user-input" col="50" row="100"></textarea>
                <button type="submit" id = "submit-button" class="btn btn-primary"> Send </button>
            </div>
        </div>
        <div id = "comment-container">
            <h2> Reviews - {{avg_rating.rating__avg}} </h2>
            <p> {{comments_length}} {% if comments_length > 1 %} comments {% else %} comment {% endif %} </p>
            {% for comment in comments %}
                <div class="accordion" id = "comment">
                    <div style="background-color:black;color:white" class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button style="background-color:black;color:white" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            {{comment.user.username}} - {{comment.rating}}
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p> {{comment.text}} </p>                 
                         </div>
                        </div>
                      </div>
                </div>
            {% endfor %}
            
            {% comment %} <div id = "new-comment">
                <form method="POST">
                    {% csrf_token %}
                    {% crispy form %}
                    <button id="new-comment-button" type="submit">Comment</button>
                </form>
            </div> {% endcomment %}
        </div>

        {{room_name|json_script:"room-name"}}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            console.log(roomName)

            const chatSocket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/main/' +
                roomName +
                '/'
            );
            
            //Every time recieves message fires
            chatSocket.onmessage = (e)=> {
                const data =  JSON.parse(e.data)
                console.log(data)
                if (data.tester) {
                    document.getElementById("first-message").textContent = (data.tester)
                }
                if (data.message) {
                    const newMessage = document.createElement("p")
                    const username = document.createElement("p")
                    username.textContent = data.user
                    newMessage.textContent = data.message
                    document.getElementById("recieved-messages").append(newMessage)
                    document.getElementById("recieved-messages").append(username)
                    console.log(data)
                }
            }
            document.getElementById("submit-button").onclick = ()=> {
                //Get dom element text content and convert to json_script
                node = document.getElementById("user-input");
                text = node.value;

                chatSocket.send(JSON.stringify({
                    'message':text,
                }));
                node.value = "";
            }

            document.getElementById("new-comment-button").onclick = ()=> {
                text = document.getElementById("comment-text").value 

                //Send back data 
            }
        </script>
        <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>




    <style>

        .product-holder {
            /* background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 100%); */
            background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 8%, rgba(53,180,201,1) 85%, rgba(59,175,203,1) 89%, rgba(68,169,205,1) 92%, rgba(40,189,197,1) 95%);
        }

        .container_video video{
            object-fit: cover;
            width: 100%;
            height: 500px;
        }

        .product-info {
            background-color: rgb(97, 93, 93);
        }

        .product-info h1{
            text-align: center;
        }

        .product-descriptions {
            justify-content: center;
        }

        .product-descriptions h1{
           text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            font-style: italic;
        }

        .product-descriptions p{
           text-align: center;
            margin-left: 10%;
            margin-right: 10%;
        }

        .product-image {
            border-radius: 5%;
            width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }

        .product-price {
            text-align: center;
            color: rgb(174, 181, 197);
            font-size: 20px;
            margin: 10px;
        }

        .product-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            /* height: 100vh; */
        }

        .product-buttons button{
            border: 0;
            border-radius: 10px;
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,201,233,1) 100%);
            text-transform: uppercase;
            color: white;
            font-size: 16px;
            font-weight: bold;
            padding: 15px 30px;
            outline: none;
            position: relative;
            transition: border-radius 3s;
            -webkit-transition: border-radius 3s;
        }

        .product-buttons button:hover{
            border-bottom-right-radius: 50px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
        }
       
    </style>
    {% endblock content %}


