
{% extends 'main/base.html' %}
{% load static %}
{% block title %} Shop {% endblock title %}
{% block content %}

    <div class="container_video">
        <video autoplay loop muted>
            <!-- <source src="https://content.rolex.com/dam/watches/hubs/all-watches/videos/hub-collection-watches-cover-portrait.mp4" type="video/mp4" /> -->
            <source src="{% static '/images/powerslap.mp4' %}" type="video/mp4" />
        </video>
    </div>

    <div class="product-container">
        {% for product in products%}
            <div id = {{product.id}} class="product-card">
                <img src="{{product.image.url}}" alt="{{product.name}}"/>
                <h1><a href="/main/{{product.id}}">{{product.name}}</a></h1>
                <p>This is one of the best watches ever made. Now either trust me 
                    and buy this or go F yourself
                </p>
            </div>
        {% endfor %}
    </div>
   
     <style>
        .container_video video{
            object-fit: cover;
            width: 100%;
            height: 650px;
        }

        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,156,45,1) 100%);
        }

        .product-card {
            background-color: rgb(23, 22, 22);
            width: 370px;
            height: 420px;
            margin: 40px;
            border-radius: 15px;
        }

        .product-card img{
            width: 100%;
            height: 260px;
            margin-bottom: 15px;
            background-size: cover;
            border-radius: 15px;
        }

        .product-card h1{
            text-align: center;
        }

        .product-card p{
            text-align: center;
        }

    

    </style>

{% endblock content %}

    <!-- <style>
            .container_video {
                display: flex !important;
                position: fixed;
                min-width: 100% !important;
                margin-top: auto !important;
                z-index: -1;
        }
            video.background {
                display: flex !important;
                position: fixed;
                height: 100%;
                align-self: center;
                margin-top: auto !important;
                z-index: -1;
            }

    </style> -->