
{% extends 'main/base.html' %}
{% load static %}
{% block title %} Shop {% endblock title %}
<!-- {% block items %} {{cart_Items}} {% endblock items %} -->
{% block content %}

    <div class="container_video">
        <video autoplay loop muted>
            <!-- <source src="https://content.rolex.com/dam/watches/hubs/all-watches/videos/hub-collection-watches-cover-portrait.mp4" type="video/mp4" /> -->
            <source src="{% static '/images/powerslap.mp4' %}" type="video/mp4" />
        </video>
    </div>

    <div class="product-container">
        {% for product in products%}
            <div id = {{product.id}} class="product-card">
                <img src="{{product.image.url}}" alt="{{product.name}}"/>
                <div class="item-info">
                    <p><a href="/main/{{product.id}}">{{product.name}}</a></p>
                    <p class="price">List Price: <b id="price">$ {{product.price}}</b></p>
                </div>
            </div>
        {% endfor %}
    </div>
   
     <style>
        .container_video video{
            object-fit: cover;
            width: 100%;
            height: 650px;
        }

        .product-container {
            display: grid;
            box-sizing: border-box;
            background-color: white;
            grid-template-columns: 350px 350px 350px 350px;
            justify-content: space-between;
            align-items: center;
            grid-row-gap: 20px;
            justify-items: center;
            padding: 5px;
            background-image: linear-gradient(to right, #434343 0%, black 100%);
        }
        .product-card {
            background-color: antiquewhite;
            /* border: 2px solid  #dbeaf4;; */
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            border-radius: 10%;
        }
        .product-card img{
            width: 100%;
            height: 260px;
            /* margin-bottom: 15px; */
            background-size: cover;
            /* border-radius: 15px; */
            border-top-right-radius: 10%;
            border-top-left-radius: 10%;
        }
        .item-info {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .item-info p{
            font-size: 20px;
            padding-top: 5%;
            text-align: center;
        }
        .price {
            text-align: center;
            padding-top: 5%;
            font-size: larger;
        }


        /* .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-image: linear-gradient(to right, #434343 0%, black 100%);


        }

        .product-card {
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            width: 370px;
            height: 380x;
            margin: 40px;
            border-radius: 15px;
        }

        .product-card img{
            width: 100%;
            height: 260px;
            margin-bottom: 15px;
            background-size: cover;
            border-radius: 15px;
        }

        .product-card h1{
            text-align: center;
        }

        .product-card p{
            text-align: center;
        } */

    

    </style>

{% endblock content %}

    

<!-- .container_video video{
            object-fit: cover;
            width: 100%;
            height: 650px;
        }

        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-image: linear-gradient(to right, #434343 0%, black 100%);


        }

        .product-card {
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            width: 370px;
            height: 380x;
            margin: 40px;
            border-radius: 15px;
        }

        .product-card img{
            width: 100%;
            height: 260px;
            margin-bottom: 15px;
            background-size: cover;
            border-radius: 15px;
        }

        .product-card h1{
            text-align: center;
        }

        .product-card p{
            text-align: center;
        } -->
