{% extends 'main/base.html' %}

{% block title %} Create {% endblock title %}
{% block content %}
<div class="form-group">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
 
        <!-- form as paragraph -->
        {{ form.as_p }}
        <button type="submit" id="button" class = "btn btn-primary">Update Product</button>
        <!-- <input type="submit" value="Update" > -->
    </form>
</div>

<style>
    .form-group {
        width: 20%;
        justify-content: center;
        margin: auto;
        margin-top: 9%;
        }
</style>
{% endblock content %}